@model IEnumerable<Scannect.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center search container search-feed">
    <h1 class="display-4">SCANNECT</h1>
    <br />
    <div class="search-box search-box-feed">
        <i class="fa fa-search"></i>
        <form action="/Item/Index" method="post">
            <input type="search" class="search-bar" name="input" placeholder="Search for anything..." />
            <input type="submit" name="submit" value="Search..." class="btn btn-outline-dark text-dark" />
        </form>
    </div>

</div>
<br />
<br />
<br />
<br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#images">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#videos">Videos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#tools">Tools</a>
    </li>
</ul>
<div class="tab-content" style="overflow-y: scroll; height: 80vh;">
    <br />
    <span class="estimated-result-count"><strong>About @ViewBag.Count results</strong></span>
    <br />
    <br />
    <div class="tab-pane container active" id="all" style="padding: 0;">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body search-body">
                    @{
                        var itemUrl = item.Url;
                        var tempUrl = itemUrl;

                        if (itemUrl.Contains("://"))
                        {
                            tempUrl = itemUrl.Substring(itemUrl.IndexOf("://") + 3);
                        }
                        if (tempUrl.EndsWith("/"))
                        {
                            tempUrl = tempUrl.Substring(0, tempUrl.Length - 1);
                        }
                        var parts = tempUrl.Split("/");
                        var newUrl = itemUrl;
                        if (parts.Length > 1)
                        {
                            newUrl = "https://" + parts[0] + " > " + parts[1];
                        }
                        if (parts.Length > 2)
                        {
                            newUrl = "https://" + parts[0] + " > " + parts[1] + " > " + parts[2];
                        }
                        if (parts.Length > 3)
                        {
                            newUrl = "https://" + parts[0] + " > " + parts[1] + " > " + parts[2] + " > " + parts[3];
                        }
                        if (newUrl.ToString().Length > 80)
                        {
                            newUrl = newUrl.Substring(0, 80) + "...";
                        }


                    }
                    
                    

                    <span class="category">@newUrl  @if (item.Category.Length > 0)
                                                      {
                                                          <span>> @item.Category</span>
                                                      }</span>
                    <a href="@item.Url">
                        <span class="h5 title">@item.Title</span>
                    </a>
                    <span class="h6 snippet">@item.Snippet</span>
                    <div class="tag-list">

                        @{
                            var countTags = 0;
                            foreach (var tag in item.Tags)
                            {
                                if (countTags > 4)
                                {
                                    break;
                                }

                                if (Convert.ToInt32(tag.Ranking) < 7)
                                {
                                    var shouldDisplay = false;
                                    foreach (var word in ViewBag.Input)
                                    {
                                        if (tag.Title.ToLower().Contains(word.ToLower()))
                                        {
                                            shouldDisplay = true;
                                            countTags++;
                                        }
                                    }
                                    if (shouldDisplay)
                                    {
                                        <span class="tag">@tag.Title</span>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane container fade" id="images">
        <div class="container-fluid" >
            @foreach (var item in Model)
            {
                if (item.Images != null && item.Images.Count > 0)
                {
                    foreach (var image in item.Images)
                    {
                        var alt = image.Alt;
                        if (image.Alt.Length > 80)
                        {
                            alt = image.Alt.Substring(0, 80);
                        }
                        <div class="gallery">
                            <a target="_blank" href="@item.Url">
                                <img src="@image.Url" alt="@image.Alt" width="600" height="400">
                            </a>
                            
                            <div class="desc">@alt...</div>
                        </div>
                    }
                }
            }
        </div>
        
    </div>
    <div class="tab-pane container fade" id="videos">

    </div>
    <div class="tab-pane container fade" id="tools">

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Snippet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Snippet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ranking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

  -->
